/********* Non map page *********/

.non-map-body{
    position: relative;
    background-image: linear-gradient(top, #62738c, #294062);
    background-image: url("images/home-background.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62738c), color-stop(100%, #294062));
    background-image: url("images/home-background.png"), -webkit-linear-gradient(top, #62738c, #294062);
    background-image: url("images/home-background.png"), -moz-linear-gradient(top, #62738c, #294062);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
}


/********* dialog *********/

.ui-dialog .ui-content {
    background: #3e5371;
    color: white;
}

.download-button .ui-icon {
    background: url("../css/images/download.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

/********* offline maps *********/

#saved-maps-page .ui-listview a{
    text-decoration: none;
}

#saved-maps-page .ui-listview li{
    border: none;
}

#saved-maps-page h2{
    background-color: white;
    height: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#saved-maps-page .map-zoom-buttons{
    position: absolute;
    top: 50%;
}

#saved-maps-map {
    position: absolute;
    top: 48%;
    height: 50%;
    width: 96%;
    left: 2.5%;
    border: #2c3f62 solid 1px;
}

#save-map-map{
    width: 95%;
    height: 77%;
    z-index: 1000;
    position: absolute;
    left: 2.5%;
    top: 10%;
    border: #2c3f62 solid 1px;
}

#save-map-buttons{
    z-index: 1000;
    position: absolute;
    bottom: 15%;
    width: 98%;
}

#save-map-buttons .ui-block-a{
    width: 20%;
}

#save-map-buttons .ui-block-b{
    width: 20%;
}

#save-map-buttons .ui-block-c{
    width: 60%;
}

#cache-controls{
    z-index: 2000;
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 88%;
    font-weight: bold;
    border: #2c3f62 solid 0.2em;
    background: white;
    border-radius: 1em;
    padding: 0 1% 1.2em 1%;
}

#cache-save-details-text label{
    float: left;
    padding-top: 1em;
    padding-right: 0.5em;
}

#cache-save-details-text input{
    width: 2em;
    float: left;
}

#cache-save-details-text-stats{
    padding: 1em;
    text-align: center;
}

#cache-save-slider{
    width: 100%;
}

#cache-save-slider .ui-slider-input{
    display: none;
}

.ui-field-contain div.ui-slider-switch {
    width: 7em;
}

#cache-preview{
    z-index: 20000;
    width: 100%;
    height: 45%;
    position: absolute;
    top: 7%;
    border-radius: 0.2em;
    border-radius: 0.2em;
}

#cache-preview-title{
    height: 1.2em;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

#cache-preview-left-title{
    float: left;
    width: 20%;
    position: relative;
    top: 1em;
}

#cache-preview-centre-title{
    float: left;
    width: 64%;
    position: relative;
    top: -0.2em;
}

#cache-preview-right-title{
    position: relative;
    top: 1em;
}

#cache-preview-left{
    border: #2c3f62 solid 1px;
    width: 20%;
    height: 85%;
    float: left;
    z-index: 1;
    margin-top: 1em;
}

#cache-preview-centre{
    width: 64%;
    height: 100%;
    border: #2c3f62 solid 1px;
    position: relative;
    left: 18%;
    z-index: 2000;
    background-repeat: no-repeat;
}

#cache-preview-centre .olMapViewport{
    position: absolute !important;
    top: 0;
    left: 0;
}

#cache-preview-right{
    width: 20%;
    height: 85%;
    max-width: 20%;
    max-height: 85%;
    border: #2c3f62 solid 1px;
    float: right;
    margin-top: 1em;
    z-index: 1;
}
