.non-map-body{
    position: relative;
    background-image: linear-gradient(top, #62738c, #294062);
    background-image: url("images/home-background.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62738c), color-stop(100%, #294062));
    background-image: url("images/home-background.png"), -webkit-linear-gradient(top, #62738c, #294062);
    background-image: url("images/home-background.png"), -moz-linear-gradient(top, #62738c, #294062);
    background-repeat: no-repeat;
    background-position: right bottom;
    color: white;
}
